<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junjun.myblog.dao.BlogTypeDao">

	<resultMap type="BlogType" id="BlogTypeResult">
		<id property="id" column="id" />
		<result property="typeName" column="type_name" />
		<result property="orderNum" column="order_num" />
		<result property="blogTypeCount" column="blogTypeCount" />
	</resultMap>


	<select id="getBlogTypeData" resultMap="BlogTypeResult">
		SELECT
		t2.*,
		COUNT(t1.id) AS blogTypeCount
		FROM
		t_blog t1
		JOIN t_blogtype t2
		ON t1.type_id = t2.id
		GROUP BY t2.type_name
		ORDER BY t2.order_num
	</select>

	<select id="getBlogTypeById" parameterType="int" resultMap="BlogTypeResult">
		select * from
		t_blog
		where id=#{type_id}
	</select>

</mapper> 